<nav class="navbar navbar-expand-xl">
  <a routerLink="/books/all"><i class="fas fa-book-open"></i>Books Reviews</a>
  <button appCollapse class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="menu fas fa-bars"></i></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <!-- <li></li> -->
      <li *ngIf="authService.isAuthenticated()"><a routerLink="/books/create">Create BookReview</a></li>
      <li *ngIf="authService.isAuthenticated()"><a routerLink="/books/myReviews">My Reviews</a></li>
      <li *ngIf="authService.isAdmin()"><a routerLink="/genres/manage">Manage Genres</a></li>
    </ul>
    <ul>
      <li *ngIf="!authService.isAuthenticated()"><a routerLink="/user/register">Register</a></li>
      <li *ngIf="!authService.isAuthenticated()"><a routerLink="/user/login">Login</a></li>
      <li *ngIf="authService.isAuthenticated()">Welcome, {{username}}!</li>
      <li *ngIf="authService.isAuthenticated()" (click)="logout()"><a routerLink="/user/login">Logout</a></li>
    </ul>
  </div>
</nav>
