<nav>
  <ul>
    <li><a routerLink="/books/all"><i class="fas fa-book-open"></i>Books Reviews</a></li>
    <li *ngIf="authService.isAuthenticated()"><a routerLink="/books/create">Create BookReview</a></li>
    <li *ngIf="authService.isAuthenticated()"><a routerLink="/books/myReviews">My Reviews</a></li>
    <li *ngIf="authService.isAdmin()"><a routerLink="/genres/manage">Manage Genres</a></li>
  </ul>
  <ul>
    <li *ngIf="!authService.isAuthenticated()"><a routerLink="/user/register">Register</a></li>
    <li *ngIf="!authService.isAuthenticated()"><a routerLink="/user/login">Login</a></li>
    <li *ngIf="authService.isAuthenticated()">Welcome, {{username}}!</li>
    <li *ngIf="authService.isAuthenticated()" (click)="logout()"><a routerLink="/user/login">Logout</a></li>
  </ul>
</nav>
