<div class="container col col-lg-12">
  <h1>Books Reviews</h1>
  <div class="search">
    <h2>Search:</h2>
    <form [formGroup]="form">
      <input type="text" placeholder="Search..." formControlName="search" (keyup)="search()">
    </form>
  </div>
  <div class="genres" *ngIf="genres$">
    <ul>
      <li><button (click)="filter('All')">All</button></li>
      <li *ngFor="let genre of genres$ | async"><button (click)="filter(genre.genre)">{{genre.genre}}</button></li>
      <li><button (click)="filter('Other')">Other</button></li>
    </ul>
  </div>
  <div class="books" *ngIf="booksToShow.length; else none">
    <app-show-books [booksToShow]="booksToShow"></app-show-books>
  </div>
</div>

<ng-template #none>
  <div class="noBooks"><span>No books reviews to show!</span></div>
</ng-template>
